<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/bootstrap-table.min.css">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="/">My Project</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Index <span class="sr-only">(current)</span></a></li>
        {% if email == None %}
        {% else %}
        <li><a href="/user-manager">User Manage</a></li>
        <li><a href="/content-manager">Content Manage</a></li>
        {% endif%}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if type == None %}
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        {% else %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ email }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/user-change-password">Change Password</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
  </div>
</nav>
{% if error %}
<div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}
{% block content %}{% endblock %}
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-table.min.js"></script>
</body>
</html>